.card-booking {
  padding: 40px 30px 30px;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0px 0px 25px rgba($blackSecondary, $aFifth);

  &__room-info {
    display: flex;
    align-items: flex-end;
  }

  &__room-number {
    padding-right: 5px;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: bold;

    &::first-letter {
      font-size: 14px;
    }
  }

  &__room-type {
    flex-grow: 1;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 19px;
    text-transform: uppercase;
    color: $purple;
  }

  &__room-price {
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 19px;
    color: rgba($black, $aSecond);
  }

  &__measure-period {
    margin-left: 4px;
    font-size: 0.75rem;
    line-height: 19px;
    color: rgba($black, $aSecond);
  }

  &__date-dropdown {
    margin-top: 20px;
  }

  &__dropdown {
    margin-top: 18px;
  }

  &__price-list {
    margin-top: 20px;
  }

  &__price-list-item {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    color: rgba($black, $aFirst);

    &:first-child {}

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  &__item-text {
    width: 100%;
    padding-right: 20px;

    &_has-icon {
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        content: 'i';
        width: 20px;
        line-height: 20px;
        font-size: 0.75rem;
        font-weight: bold;
        text-align: center;
        border: 1px solid rgba($black, $aThird);
        border-radius: 50%;
        color: rgba($black, $aThird);
      }
    }
  }

  &__item-price {
    width: 100%;
    max-width: 80px;
    text-align: right;
  }

  &__sum-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 28px;
    font-family: Opensans;
    font-size: 1.1875rem;
    font-weight: bold;
  }

  &__sum-item-text {}

  &__sum-divider {
    //width: 100%;
    height: 6px;
    margin: 0 5px;
    flex-grow: 1;
    border-top: 1px dashed rgba($black, $aThird);
  }

  &__sum-item-price {}

  &__submit-button {
    margin-top: 19px;
  }
}