mixin bullet-list({title, list, isInUi})

  .bullet-list
    if title
      - let titleClasses = ["bullet-list__title"];
        if isInUi 
          - titleClasses.push("bullet-list__title_in-ui");
      h2(class = titleClasses)= title
      
    ul.bullet-list__list
      for string in list
        li.bullet-list__item!= string