.bullet-list {
  max-width: 320px;

  &__title {
    font-size: 1.1875rem;
    font-weight: bold;
    line-height: 1.4375rem;
    padding: 0 0 18px 21px;
    color: $black;

    &_in-ui {
      font-size: 0.75rem;
      text-transform: uppercase;
      line-height: .9375rem;
      padding-left: 0;
      padding-bottom: 13px;
    }
  }

  &__list {
    max-width: 271px;
  }

  &__item {
    display: block;
    position: relative;
    margin-top: 10px;
    padding-left: 21px;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba($black, $aFirst);

    &:first-child {
      margin-top: 0;
    }

    &::before {
      display: block;
      content: '';
      position: absolute;
      left: 0.8px;
      top: 5.92px;
      width: 10px;
      height: 10px;
      margin-right: 10px;
      border-radius: 5px;
      background-color: rgba($black, $aThird);
    }
  }
}