.bullet-list {
  max-width: 320px;

  &__title {
    font-size: 1.1875rem;
    font-weight: bold;
    line-height: 1.4375rem;
    padding-left: 19px;
    color: #1F2041;

    &_in-ui {
      font-size: 0.75rem; // 12px
      text-transform: uppercase;
      line-height: .9375rem;
      padding-left: 0;
      padding-bottom: 0.8rem;
    }
  }

  &__list {
    max-width: 16.93rem;
  }

  &__item {
    display: block;
    position: relative;
    margin-top: 0.625rem;
    padding-left: 1.3125rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75);

    &:first-child {
      margin-top: 0;
    }

    &::before {
      display: block;
      content: '';
      position: absolute;
      left: 0.05rem;
      top: 0.37rem;
      width: 0.625rem;
      height: 0.625rem;
      margin-right: 0.625rem;
      border-radius: 0.3125rem;
      background-color: rgba(31, 32, 65, 0.25);
    }
  }
}