@import '../../assets/js/plagins/ion.rangeSlider/ion.rangeSlider.scss';

.range-slider {
  max-width: 266px;

  &__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 18px;
  }

  &__title {
    font-weight: bold;
    color: $black;
  }

  &__caption {
    color: rgba($black, $aSecond);
  }

  &__input {}
}

.irs--round {
  height: 1rem;
}

.irs--round .irs-line {
  top: 5px;
  height: 6px;
  background-color: $white;
  border: 1px solid rgba($black, $aThird);
  border-radius: 3px;
  cursor: pointer;
}

.irs--round .irs-bar {
  top: 5px;
  height: 6px;
  background: $greenGradient;
  cursor: pointer;
}

.irs--round .irs-handle {
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid $white;
  background: $greenGradient;
  border-radius: 8px;
  box-shadow: none;
  cursor: pointer;
}