.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  padding: 4px 20px 0;
  font-family: $mainFont;
  font-size: 0.875rem;

  @media (max-width: 940px) {
    display: none;
  }

  &__column {
    width: 100%;
    max-width: 160px;
  }

  &__title {
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  &__links {
    display: flex;
    padding-bottom: 1px;
  }

  &__link {
    display: block;
    padding-top: 20px;
    color: rgba($black, $aSecond);
  }
}