@import '../../layouts/ui-layout/ui-layout.scss';


.headers-n-footers {
  width: 100%;
  padding: 62px 0 140px 0;

  &__header-signed-out {
    margin-bottom: 40px;
  }

  &__header-signed-in {
    margin-bottom: 40px;
  }

  &__footer-desktop {
    margin-bottom: 40px;


  }

  &__footer-mobile {
    display: flex;
    justify-content: center;

    & .footer-mobile {
      display: flex;
    }
  }
}

@import '../../modules/header/header.scss';
@import '../../modules/header-menu/header-menu.scss';
@import '../../modules/button/button.scss';
@import '../../modules/footer/footer.scss';
@import '../../modules/footer-menu/footer-menu.scss';
@import '../../modules/subscription-text-field/subscription-text-field.scss';
@import '../../modules/social-icons/social-icons.scss';
@import '../../modules/footer-mobile/footer-mobile.scss';