extends ../../layouts/ui-layout/ui-layout.pug
include ../../modules/header/header.pug
include ../../modules/footer/footer.pug
include ../../modules/footer-mobile/footer-mobile.pug

block variables
  - let pageColor = "lightgrey";

block meta
  meta(name="keywords" value="headres, footers")
  meta(name="description" value="this page contains header versions and footer of the project")

block title
  title Headers & Footers

block links
  link(href="../../assets/fonts/fontawesome/css/all.css" rel="stylesheet")
  link(href = "./headers-n-footers.scss" rel="stylesheet")

block scripts
  script(src="./headers-n-footers.js" type="module")

block content
  .headers-n-footers
    .headers-n-footers__header-signed-out
      +header({
        headerMenu: [
            {name: "О нас", href: "/mock-address/change-me"},
            {name: "Услуги", links: [
              {linkName: "Интересная услуга", linkHref: "/mock-address/change-me"},
              {linkName: "Еще интереснее", linkHref: "/mock-address/change-me"},
              {linkName: "Самая интересная", linkHref: "/mock-address/change-me"}
            ]},
            {name: "Вакансии", href: "/mock-address/change-me"},
            {name: "Новости", href: "/mock-address/change-me"},
            {name: "Соглашения", links: [
              {linkName: "Важно", linkHref: "/mock-address/change-me"},
              {linkName: "Очень важно", linkHref: "/mock-address/change-me"},
              {linkName: "Совсем важно", linkHref: "/mock-address/change-me"}
            ]}
        ],
        buttonSignIn: {
          text: "войти",
          href: "/mock-address/change-me",
          type: "button",
          hasVolume: true,
          isInHeader: true,
          hasBorder: true,
        },
        buttonRegister: {
          text: "зарегистрироваться",
          href: "/mock-address/change-me",
          type: "button",
          hasVolume: true,
          isInHeader: true,
        },
        accountLink: {userName: "Юлий Цезарь", href: "/mock-address/change-me"},
      })
    .headers-n-footers__header-signed-in
      +header({
        headerMenu: [
            {name: "О нас", href: "/mock-address/change-me"},
            {name: "Услуги", links: [
              {linkName: "Интересная услуга", linkHref: "/mock-address/change-me"},
              {linkName: "Еще интереснее", linkHref: "/mock-address/change-me"},
              {linkName: "Самая интересная", linkHref: "/mock-address/change-me"}
            ]},
            {name: "Вакансии", href: "/mock-address/change-me"},
            {name: "Новости", href: "/mock-address/change-me"},
            {name: "Соглашения", links: [
              {linkName: "Важно", linkHref: "/mock-address/change-me"},
              {linkName: "Очень важно", linkHref: "/mock-address/change-me"},
              {linkName: "Совсем важно", linkHref: "/mock-address/change-me"}
            ]}
        ],
        isSigned: true,
        buttonSignIn: {
          text: "войти",
          href: "/mock-address/change-me",
          type: "button",
          hasVolume: true,
          isInHeader: true,
          hasBorder: true,
        },
        buttonRegister: {},
        accountLink: {userName: "Юлий Цезарь", href: "/mock-address/change-me"},
      })
    .headers-n-footers__footer-desktop
      +footer({
        companyInfoText: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
        footerMenuColumns: [
          {columnTitle: "навигация", columnLinks: [
              {href: "/mock-address/change-me", text: "О нас"},
              {href: "/mock-address/change-me", text: "Новости"},
              {href: "/mock-address/change-me", text: "Служба поддержки"},
              {href: "/mock-address/change-me", text: "Услуги"},
            ]},
          {columnTitle: "о нас", columnLinks: [
              {href: "/mock-address/change-me", text: "О сервисе"},
              {href: "/mock-address/change-me", text: "Наша команда"},
              {href: "/mock-address/change-me", text: "Вакансии"},
              {href: "/mock-address/change-me", text: "Инвесторы"},
            ]},
          {columnTitle: "служба поддержки", columnLinks: [
              {href: "/mock-address/change-me", text: "Соглашения"},
              {href: "/mock-address/change-me", text: "Сообщества"},
              {href: "/mock-address/change-me", text: "Связь с нами"},
            ]},
        ],
        subscriptionTitle: "подписка",
        subscriptionText: "Получайте специальные предложения и новости сервиса",
        subscriptionInput: {
          action: "",
          type: "email",
          name: "email",
          placeholder: "Email"
        },
        copyrightText: "Copyright © 2018 Toxin отель. Все права зачищены.",
        socialIcons: [
          {name: "twitter", href: "http://twitter.com"},
          {name: "facebook", href: "http://facebook.com"},
          {name: "instagram", href: "http://instagram.com"},
        ],
      })
    
    .headers-n-footers__footer-mobile
      +footer-mobile({
        copyrightText: "Copyright © 2018 Toxin отель. Все права зачищены.",
        socialIcons: [
            {name: "twitter", href: "http://twitter.com"},
            {name: "facebook", href: "http://facebook.com"},
            {name: "instagram", href: "http://instagram.com"},
        ],
      })