extends ../../layouts/ui-layout/ui-layout.pug
include ../../modules/header/header.pug

block variables
  - let pageColor = "lightgrey";

block meta
  meta(name="keywords" value="headres, footers")
  meta(name="description" value="this page contains header versions and footer of the project")

block title
  title Headers & Footers

block links
  link(href = "./headers-n-footers.scss" rel="stylesheet")

block content
  .headers-n-footers
    .headers-n-footers__header-signed-out
      +header({
        headerMenu: [
            {name: "О нас", href: "/mock-address/change-me"},
            {name: "Услуги", links: [
              {linkName: "Интересная услуга", linkHref: "/mock-address/change-me"},
              {linkName: "Еще интереснее", linkHref: "/mock-address/change-me"},
              {linkName: "Самая интересная", linkHref: "/mock-address/change-me"}
            ]},
            {name: "Вакансии", href: "/mock-address/change-me"},
            {name: "Новости", href: "/mock-address/change-me"},
            {name: "Соглашения", links: [
              {linkName: "Важно", linkHref: "/mock-address/change-me"},
              {linkName: "Очень важно", linkHref: "/mock-address/change-me"},
              {linkName: "Совсем важно", linkHref: "/mock-address/change-me"}
            ]}
        ],
        buttonSignIn: {
          text: "войти",
          href: "/mock-address/change-me",
          type: "button",
          hasVolume: true,
          isInHeader: true,
          hasBorder: true,
        },
        buttonRegister: {
          text: "зарегистрироваться",
          href: "/mock-address/change-me",
          type: "button",
          hasVolume: true,
          isInHeader: true,
        },
        accountLink: {userName: "Юлий Цезарь", href: "/mock-address/change-me"},
      })
    .headers-n-footers__header-signed-in
      +header({
        headerMenu: [
            {name: "О нас", href: "/mock-address/change-me"},
            {name: "Услуги", links: [
              {linkName: "Интересная услуга", linkHref: "/mock-address/change-me"},
              {linkName: "Еще интереснее", linkHref: "/mock-address/change-me"},
              {linkName: "Самая интересная", linkHref: "/mock-address/change-me"}
            ]},
            {name: "Вакансии", href: "/mock-address/change-me"},
            {name: "Новости", href: "/mock-address/change-me"},
            {name: "Соглашения", links: [
              {linkName: "Важно", linkHref: "/mock-address/change-me"},
              {linkName: "Очень важно", linkHref: "/mock-address/change-me"},
              {linkName: "Совсем важно", linkHref: "/mock-address/change-me"}
            ]}
        ],
        isSigned: true,
        buttonSignIn: {
          text: "войти",
          href: "/mock-address/change-me",
          type: "button",
          hasVolume: true,
          isInHeader: true,
          hasBorder: true,
        },
        buttonRegister: {},
        accountLink: {userName: "Юлий Цезарь", href: "/mock-address/change-me"},
      })
    .headers-n-footers__footer-desktop
    .headers-n-footers__footer-mobile