@import '../../layouts/ui-layout/ui-layout.scss';


.headers-n-footers {
  width: 100%;
  //max-width: 1240px;
  //margin: 0 auto;
  padding: 62px 0 140px 0; //62px 40px 140px 40px;

  &__header-signed-out {
    margin-bottom: 40px;
  }

  &__header-signed-in {
    margin-bottom: 40px;
  }

  &__footer-desktop {
    margin-bottom: 40px;
  }
}

@import '../../modules/header/header.scss';
@import '../../modules/header-menu/header-menu.scss';
@import '../../modules/button/button.scss';
@import '../../modules/footer/footer.scss';
@import '../../modules/footer-menu/footer-menu.scss';
@import '../../modules/social-icons/social-icons.scss';