@import '../../layouts/ui-layout/ui-layout.scss';
@import '../../modules/header/header.scss';
@import '../../modules/header-menu/header-menu.scss';
@import '../../modules/button/button.scss';

.headers-n-footers {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 62px 40px 140px 40px;
}