mixin like-button(options)

  .like-button
    label.like-button__label
      .like-button__wrap
        input.like-button__input(type="checkbox")
        .like-button__img
          i.material-icons.md-10 favorite
        .like-button__number= options.defaultNumber