mixin like-button(options)

  .like-button.like-button_border-color_grey.like-button_content-color_grey
    
    label.like-button__label
      input.like-button__input(type="checkbox")
      .like-button__img
        i.material-icons.md-10 favorite_border
      .like-button__number= options.defaultNumber