doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title form elements
        link(href='./form-elements.scss' rel='stylesheet')
    body.page
        include blocks/logo/logo.pug
        +logo('grey')
        .positioner
            +logo('colored')