@import 'blocks/fonts/montserrat_regular/Montserrat-Regular.scss';
@import 'blocks/fonts/montserrat_bold/Montserrat-Bold.scss';
@import 'blocks/fonts/material-icons_regular/MaterialIcons_Regular.scss';

* {
  box-sizing: border-box; //width calculation algoritm changed
}

html {
  // default font-color, font-family for html tag style is needed
  font-size: 16px;
  background-color: #e5e5e5;
}

html,
body,
input,
ul,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  border-style: none;
  font-family: inherit;
  text-transform: none;
}

.form-elements {
  max-width: 1440px;
  // margin: 0 auto; // comment fo perfect pixel dev
  background-color: #ffffff;
  font-family: Montserrat;
  font-weight: normal;

  &::before {
    // empty element to avoid dropping up the form-elements__logo margin (follows below)
    content: "";
    overflow: hidden; // обязательно!
    display: block;
  }

  &__logo {
    //max-width: 48px;
    //max-height: 48px;
    width: 48px; //3.3333vw;
    height: 48px; //3.3333vw;
    margin-left: 30px; //2.083%;
    margin-top: 30px; //2.083%;

    @media (max-width: 1376px) {
      //was 1440px
      display: none;
    }
  }

  &__wrap {
    max-width: 1160px;
    width: 100%;
    margin: 62px auto 0px;

    @media (max-width: 1376px) {
      margin-top: 140px;
    }
  }

  //sections for blocks placement
  &__left-section {
    display: inline-block;
  }

  &__text-field {

    //для работы над блоком text-field временно задал ширину и высоту
    //width: 20rem;
    //height: 15rem;
    &_hovered-focused {
      margin-top: 1.24rem;
    }
  }

  &__dropdown {

    &_default-normal {
      margin-top: 1.1rem; //1.24
      //width: 16.6rem;
    }
  }

  &__masked-text-field {
    margin-top: 1.25rem;
    width: 20rem;
    height: 4.1875rem;
    //border: solid orange 1px;
  }

  &__date-dropdown {
    margin-top: 2.5rem;
    width: 20rem; // 320px
    height: 4.0625rem; // 65px
    border: solid orange 1px;
  }

  &__filter-date-dropdown {
    margin-top: 2.5rem; // 40px
    width: 16.625rem; // 266px
    height: 4.0625rem; // 65px
    border: solid orange 1px;
  }

  &__subscription-text-field {
    margin-top: 2.5625rem; // 41px
    width: 16.625rem;
    height: 4.0625rem;
    border: solid orange 1px;
  }

  &__dropdown-default-normal {
    margin-top: 5.90rem //6.25rem;// 100px
  }

  &__dropdown-expanded-normal {
    margin-top: 1.1rem;
  }

  &__middle-section {
    display: inline-block;
    background-color: cadetblue;
  }

  &__right-section {
    display: inline-block;
    background-color: cadetblue;
  }

  &__bottom-section {
    display: inline-block;
    background-color: cadetblue;
  }
}

@import 'blocks/logo/logo.scss';
@import 'blocks/logo/_color/logo_color_grey.scss';
@import 'blocks/text-field/text-field.scss';
@import 'blocks/dropdown/dropdown.scss';