doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    meta(name="keywords" value="uikit, fonts, colors, blocks")
    meta(name="description' value='this page contains form elements in all possible conditions")
    title form elements
    link(href="./form-elements.scss" rel="stylesheet")
    script(src="./src/js/jquery-in-parcel.js" type="text/javascript" defer) 

    //-script(src="./node_modules/jquery/dist/jquery.min.js" type="text/javascript" defer)
    
    script(src="./blocks/text-field/text-field.js" type="module")
    script(src="./blocks/dropdown/dropdown.js" type="text/javascript" defer)

  body
    include blocks/logo/logo.pug
    include blocks/text-field/text-field.pug
    include blocks/dropdown/dropdown.pug
    //include blocks/checkbox-field/checkbox-field.pug
    include blocks/checkbox/checkbox.pug

    .form-elements

      .form-elements__logo
        +logo({
          color: "grey"
          })

      .form-elements__wrap
        .form-elements__left-section

          .form-elements__text-field
            +text-field({
              title: "text field",
              state: "default",
              placeholder: "Email"
              })

          .form-elements__text-field.form-elements__text-field_hovered-focused
            +text-field({
              title: "text field",
              state: "hover / focus",
              placeholder: "This is pretty awesome"
              })

          .form-elements__dropdown-default-wide
            +dropdown({
              title: "dropdown",
              state: "default",
              content: "guests",
              buttonText: "Сколько гостей",
              isWide: true,
              hasApplyButton: true
              })
          
          .form-elements__masked-text-field
            +text-field({title: "masked text field",
              state: "default",
              placeholder: "ДД.ММ.ГГГГ",
              isMasked: true
              })

          .form-elements__date-dropdown date dropdown

          .form-elements__filter-date-dropdown filter date dropdown
          
          .form-elements__subscription-text-field subscription text field 

          .form-elements__dropdown-default-normal
            +dropdown({
              title: "dropdown",
              state: "default",
              content: "facilities",
              buttonText: "Ваши удобства"
              })

          .form-elements__dropdown-expanded-normal
            +dropdown({
              title: "dropdown",
              state: "expanded",
              content: "facilities",
              buttonText: "Ваши удобства"
              })

        .form-elements__middle-section

          .form-elements__checkbox-field
            +checkbox({
              title: "checkbox buttons",
              text: [
                "Можно курить",
                "Можно с питомцами",
                "Можно пригласить гостей (до&nbsp;10&nbsp;человек)"
                ],
              isRich: false
              })

          .form-elements__radio-buttons radio buttons
          .form-elements__toggle toggle
          .form-elements__like-button button
          .form-elements__rate-button rate button

          .form-elements__dropdown-expanded-wide
            +dropdown({
              title: "dropdown",
              state: "",
              content: "guests",
              buttonText: "Сколько гостей",
              isWide: true,
              hasApplyButton: true
            })
          
          .form-elements__rich-checkbox
            +checkbox({
              title: "rich checkbox buttons",
              text: [
                "Широкий коридор",
                "Помощник для инвалидов"],
              isRich: true,
              additionalText: [
                "Ширина коридоров в номере не&nbsp;менее 91 см.",
                "На 1 этаже вас встретит специалист и&nbsp;проводит до номера."
                ]
            })

        .form-elements__right-section right
        .form-elements__bottom-section bottom