//@import '../../../Web_development/projects/secondEx/blocks/fonts/montserrat_regular/Montserrat-Regular.scss';
@import 'blocks/fonts/montserrat_regular/Montserrat-Regular.scss';
@import 'blocks/fonts/montserrat_bold/Montserrat-Bold.scss';
* {
  box-sizing: border-box;//width calculation algoritm changed
}

html {
// default font-color, font-family for html tag style is needed
  font-size: 16px;
  background-color: #e5e5e5;
}

html,
body,
input {
  margin: 0;
  padding: 0;
}

.form-elements {
  max-width: 1440px;
 // margin: 0 auto; // comment fo perfect pixel dev
  background-color: #ffffff;
  //@include montserrat_normal;
  font-family: Montserrat;
  font-weight: normal;

  &::before {
  // empty element to avoid dropping up the page__logo margin (follows below)
    content: "";
    overflow: hidden; // обязательно!
    display: block;
  }
  &__logo {
  //max-width: 48px;
  //max-height: 48px;
    width: 48px; //3.3333vw;
    height: 48px; //3.3333vw;
    margin-left: 30px; //2.083%;
    margin-top: 30px; //2.083%;
    @media (max-width: 1376px) {
    //was 1440px
      display: none;
    }
  }

  &__wrap {
    max-width: 1160px;
    width: 100%;
    margin: 62px auto 0px;
    //border: solid black 1px;
    @media (max-width: 1376px) {
      margin-top: 140px;
    }
  }

  //sections for blocks placement
  &__left-section {
    display: inline-block;
    //background-color: cadetblue;
  }

  &__text-field {
    //для работы над блоком text-field временно задал ширину и высоту
    //width: 20rem;
    //height: 15rem;
    &_hovered-focused {
      margin-top: 1.24rem;
    }
  }

  &__middle-section {
    display: inline-block;
    background-color: cadetblue;
  }

  &__right-section {
    display: inline-block;
    background-color: cadetblue;
  }

  &__bottom-section {
    display: inline-block;
    background-color: cadetblue;
  }
}

//@import '../../../Web_development/projects/secondEx/blocks/fonts/montserrat_regular/Montserrat-Regular.scss';
//@import 'blocks/fonts/montserrat_regular/Montserrat-Regular.scss';
@import 'blocks/logo/logo.scss';
@import 'blocks/logo/_color/logo_color_grey.scss';
@import 'blocks/text-field/text-field.scss';