doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    meta(name="keywords" value="uikit, fonts, colors, blocks")
    meta(name="description' value='this page contains form elements in all possible conditions")
    title form elements
    link(href="./form-elements.scss" rel="stylesheet")
    script(src="./blocks/dropdown/dropdown.js" type="text/javascript" defer)
    
  body
    .form-elements
      .form-elements__logo
        include blocks/logo/logo.pug
        +logo({color: "grey"})
      .form-elements__wrap
        .form-elements__left-section

          .form-elements__text-field
            include blocks/text-field/text-field.pug
            +text-field({title: "text field", state: "default", placeholder: "Email"})

          .form-elements__text-field.form-elements__text-field_hovered-focused
            +text-field({title: "text field", state: "hover / focus", placeholder: "This is pretty awesome"})

          //- inserting dropdown block default-large length
          .form-elements__dropdown.form-elements__dropdown_default-normal
            include blocks/dropdown/dropdown.pug
            +dropdown({title: "dropdown", state: "expanded", isWide: true, content: "guests", buttonText: "Сколько гостей", hasApplyButton: true})
          
          //- inserting masked text field block
          .form-elements__masked-text-field masked text field

          //- inserting date dropdown block
          .form-elements__date-dropdown date dropdown

          //- inserting filter date dropdown block
          .form-elements__filter-date-dropdown filter date dropdown
          
          //- inserting subscription text field block
          .form-elements__subscription-text-field subscription text field 

          //- inserting dropdown block default-normal width
          .form-elements__dropdown-default-normal
            +dropdown({title: "dropdown", state: "default", content: "facilities", buttonText: "Ваши удобства"})

          //- inserting dropdown block expanded-normal width
          .form-elements__dropdown-expanded-normal
            +dropdown({title: "dropdown", state: "expanded", content: "facilities", buttonText: "Ваши удобства"})
        .form-elements__middle-section right
        .form-elements__right-section middle
        .form-elements__bottom-section bottom