doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name='viewport' content='width=device-width')
    meta(name='keywords' value='uikit, fonts, colors, blocks')
    meta(name='description' value='this page contains form elements in all possible conditions')
    title headers & footers
    // link(href='C:/Users/Andrew/Desktop/normalize.scss')
    link(href='./headers-n-footers.scss' rel='stylesheet')
  body
    .headers-n-footers
      .headers-n-footers__logo
        include blocks/logo/logo.pug
        +logo({color: "grey"})
      .headers-n-footers__wrap
        include blocks/footer/footer.pug