doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    block data
      meta(name="keywords" value="")
      meta(name="description" value="")
      title
      link(href="" rel="stylesheet")
    // link(href="C:/Users/Andrew/Desktop/normalize.scss")   
  body
    block content