doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Headers & footers
        // link(href='C:/Users/Andrew/Desktop/normalize.scss')
        link(href='./test.scss' rel='stylesheet')
    body.page
        include blocks/footer/footer.pug