//- choose {color: "grey"} for a grey icon
//- or choose {color: "gradient"} for a gradiently colored icon with toxin text
mixin logo({isForUI})
  -
    let logoClassName = "logo";
    logoClassName += (isForUI) ? " logo_for-ui" : "";

  div(class = logoClassName)