extends ../../layouts/ui-layout/ui-layout.pug
include ../../modules/text-field/text-field.pug
include ../../modules/dropdown/dropdown.pug
include ../../modules/date-dropdown/date-dropdown.pug
include ../../modules/filter-date-dropdown/filter-date-dropdown.pug
include ../../modules/subscription-text-field/subscription-text-field.pug
include ../../modules/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../modules/radio/radio.pug
include ../../modules/toggle/toggle.pug
include ../../modules/like-button/like-button.pug
include ../../modules/rate/rate.pug
include ../../modules/range-slider/range-slider.pug
include ../../modules/pagination/pagination.pug
include ../../modules/bullet-list/bullet-list.pug
include ../../modules/room-info/room-info.pug
include ../../modules/review/review.pug

block variables
  - let pageColor = "white";

block meta
  meta(name="keywords" value="modules, site modules")
  meta(name="description" value="this page contains project modules")

block title
  title Form Elements

block links
  //-link(href="../../assets/fonts/fontawesome/css/all.css" rel="stylesheet")
  link(href = "./form-elements.scss" rel="stylesheet")

block scripts
  script(src="./form-elements.js" type="module")

block content
  .form-elements
    .form-elements__section.form-elements__section_position_left
      +text-field({
        title: "text field",
        state: "default",
        placeholder: "Email",
      })
  
      .form-elements__text-field-focused
        +text-field({
          title: "text field",
          state: "hover / focus",
          placeholder: "Email",
          value: "This is pretty awesome",
        })
      
      .form-elements__dropdown-default-wide
        +dropdown({
          title: "dropdown",
          state: "default",
          id: "guests",
          content: ["взрослые", "дети", "младенцы"],
          buttonText: "Сколько гостей",
          hasApplySection: true,
        })
      .form-elements__masked-text-field
        +text-field({
          title: "masked text field",
          state: "default",
          placeholder: "ДД.ММ.ГГГГ",
          isMasked: true
        })
      .form-elements__date-dropdown
        +date-dropdown({
          fromFieldTitle: "date dropdown",
          toFieldTitle: "date dropdown",
          placeholder: "дд.мм.гггг",
        })

      .form-elements__column.form-elements__column_width_266
        .form-elements__filter-date-dropdown
          +filter-date-dropdown({
            title: "filter date dropdown",
            placeholder: "дд.мм.гггг"
          })

        .form-elements__subscription-text-field
          +subscription-text-field({
            title: "subscription text field",
            action: "",
            type: "email",
            name: "email",
            placeholder: "Email"
          })

        .form-elements__dropdown-default
          +dropdown({
            title: "dropdown",
            state: "default",
            id: "facilities",
            content: ["спальни", "кровати", "ванные комнаты"],
            buttonText: "Ваши удобства",
          })

        .form-elements__dropdown-expanded
          +dropdown({
            title: "dropdown",
            state: "expanded",
            id: "facilities",
            content: ["спальни", "кровати", "ванные комнаты"],
            buttonText: "Ваши удобства",
          })

        .form-elements__expandable-checkbox-list
          +expandable-checkbox-list({
            title: "expandable checkbox list",
            checkbox: {
              elements: [
                {text: "Завтрак"},
                {text: "Письменный стол"},
                {text: "Стул для кормления"},
                {text: "Кроватка"},
                {text: "Телевизор"},
                {text: "Шампунь"},
              ]
            },
          })  
            
        .form-elements__expandable-checkbox-list-expanded
          +expandable-checkbox-list({
            title: "expandable checkbox list",
            checkbox: {
              elements: [
                {text: "Завтрак"},
                {text: "Письменный стол"},
                {text: "Стул для кормления"},
                {text: "Кроватка"},
                {text: "Телевизор"},
                {text: "Шампунь"},
              ]
            },
          })
    
    .form-elements__section
      +checkbox({
        title: "checkbox buttons",
        elements: [
          {text: "Можно курить"},
          {text: "Можно с питомцами", isChecked: true},
          {text: "Можно пригласить гостей (до&nbsp;10&nbsp;человек)", isChecked: true}
        ],
      })

      .form-elements__radio
        +radio({
          title: "radio buttons",
          name: "gender",
          buttons: [
            {value: "male", text: "Мужчина", isChecked: true},
            {value: "female", text: "Женщина",}
          ]
        })
      
      .form-elements__toggle
        +toggle({
          title: "toggle",
          buttons: [
            {name: "subscribe", value: "specialOffer", text: "Получать спецпредложения", isChecked: true},
            {name: "subscribe", value: "specialOffer", text: "Получать спецпредложения"}
          ]
        })

      .form-elements__like-buttons
        .form-elements__like-buttons-title like button
        .form-elements__like-buttons-wrap
          +like-button({
            defaultNumber: "2"
          })
          +like-button({
            defaultNumber: "11"
          })
        
      .form-elements__rate
        .form-elements__rate-title rate button
        .form-elements__rate-wrap
          +rate({
            defaultNumber: "4"
          })
          +rate({
            defaultNumber: "5"
          })

      .form-elements__dropdown-expanded-wide
        +dropdown({
          title: "dropdown",
          state: "",
          id: "guests",
          content: ["взрослые", "дети", "младенцы"],
          buttonText: "Сколько гостей",
          hasApplySection: true,
        })
        
      .form-elements__rich-checkbox
        +checkbox({
          title: "rich checkbox buttons",
          elements: [
            {text: "Широкий коридор", additionalText: "Ширина коридоров в номере не&nbsp;менее 91 см."},
            {text: "Помощник для инвалидов", additionalText: "На 1 этаже вас встретит специалист и&nbsp;проводит до номера."},
          ],
          isRich: true,
        })

    .form-elements__section
      .form-elements__range-slider
        +range-slider({
          title: "range slider",
          name: "costRange",
          unit: "₽",
          min: "0",
          max: "15000",
          from: "5000",
          to: "10000"
        })

      .form-elements__buttons
        .form-elements__buttons-title buttons
        .form-elements__buttons-with-volume-row
          .form-elements__button-with-volume
            +button({
              type: "button",
              text: "click me",
              href: "",
              hasVolume: "true",
              isInHeader: "",
              hasBorder: "",
              hasArrow: ""
            })
          .form-elements__button-with-volume
            +button({
              type: "button",
              text: "click me",
              href: "",
              hasVolume: "true",
              isInHeader: "",
              hasBorder: "",
              hasArrow: ""
            })
        .form-elements__buttons-with-border-row
          .form-elements__button-with-border
            +button({
              type: "button",
              text: "click me",
              href: "",
              hasVolume: "true",
              isInHeader: "",
              hasBorder: "true",
              hasArrow: ""
            })
          .form-elements__button-with-border
            +button({
              type: "button",
              text: "click me",
              href: "",
              hasVolume: "true",
              isInHeader: "",
              hasBorder: "true",
              hasArrow: ""
            })
        .form-elements__buttons-row
          .form-elements__button  
            +button({
              type: "button",
              text: "click me",
              isBig: "",
              hasBorder: "",
              hasArrow: "",
            })
          .form-elements__button
            +button({
              text: "click me",
              isGrey: "true"
            })

        +button({
          type: "button",
          text: "перейти к оплате",
          href: "",
          hasVolume: "true",
          isInHeader: "",
          hasBorder: "",
          hasArrow: "true"
        })

      .form-elements__pagination
        .form-elements__pagination-title pagination
        +pagination({
          areCardsHidden: "true"
        })

      .form-elements__dropdown-expanded-wide-filled
        +dropdown({
          title: "dropdown",
          state: "",
          id: "guests",
          content: ["взрослые", "дети", "младенцы"],
          buttonText: "Сколько гостей",
          hasApplySection: true,
        })

      .form-elements__bullet-list
        +bullet-list({
          title: "bullet list",
          list: [
            "Нельзя с питомцами",
            "Без вечеринок и мероприятий",
            "Время прибытия — после 13:00, а&nbsp;выезд до 12:00"
          ]
        })

        
    .form-elements__section.form-elements__section_position_bottom
      .form-elements__room-info
        +room-info({
          features: [
            {img: "insert_emoticon", title: "Комфорт", text: "Шумопоглощающие стены"},
            {img: "location_city", title: "Удобство", text: "Окно в каждой из спален"}
          ]
        })

      .form-elements__review
        +review({
            title: "",
            users: [
              {
              name: "Мурад Сарафанов",
              photo: "../../modules/review/images/review__photo_name_murad-sarafanov.png",
              text: "Великолепный матрас на кровати в основной спальне! " +
                    "А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. " + 
                    "Выкрикивал комплименты повару — никто не жаловался из соседей.",
              date: "2020-06-20",
              likes: "11"
              }
            ]
          })
      