@import '../../layouts/ui-layout/ui-layout.scss';

.form-elements {
  width: 100%;
  max-width: 1198px; //1440-282+20=1198;
  //min-width: 260px;
  margin: 0 auto;
  padding: 62px 0 131px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*
  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
  */

  &__section {
    width: 100%;
    max-width: 360px;
    padding: 0 20px 0 20px;

    &_position_left {
      max-width: 414px;
      padding-right: 52px;
    }

    &_position_bottom {
      max-width: none;
    }
  }

  &__text-field-focused {
    margin-top: 19px;
  }

  &__dropdown-default-wide {
    margin-top: 18px;
  }

  &__masked-text-field {
    margin-top: 20px;
  }

  &__date-dropdown {
    margin-top: 40px;
  }

  &__filter-date-dropdown {
    margin-top: 40px;
  }

  &__subscription-text-field {
    margin-top: 41px;
  }

  &__column {

    &_width_266 {
      max-width: 266px;
    }
  }

  &__dropdown-default {
    margin-top: 97px;
  }

  &__dropdown-expanded {
    margin-top: 18px;
  }

  &__expandable-checkbox-list {
    margin-top: 159px;
  }

  &__expandable-checkbox-list-expanded {
    margin-top: 20px;
  }

  &__radio {
    margin-top: 41px;
  }

  &__toggle {
    margin-top: 40px;
  }

  &__like-buttons {
    margin-top: 43px;
  }

  &__like-buttons-title {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 15px;
    text-transform: uppercase;
    color: $black;
  }

  &__like-buttons-wrap {
    max-width: 90px;
    display: flex;
    justify-content: space-between;
  }

  &__rate {
    margin-top: 40px;
  }

  &__rate-title {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $black;
  }

  &__rate-wrap {
    max-width: 260px;
    display: flex;
    justify-content: space-between;
  }

  &__dropdown-expanded-wide {
    margin-top: 192px;
  }

  &__rich-checkbox {
    margin-top: 254px;
    max-width: 266px;
  }

  &__range-slider {
    margin-top: 4px;
    width: 266px;
  }
}

@import '../../modules/text-field/text-field.scss';
@import '../../modules/dropdown/dropdown.scss';
@import '../../modules/button/button.scss';
@import '../../modules/date-dropdown/date-dropdown.scss';
@import '../../modules/filter-date-dropdown/filter-date-dropdown.scss';
@import '../../modules/subscription-text-field/subscription-text-field.scss';
@import '../../modules/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../../modules/checkbox/checkbox.scss';
@import '../../modules/radio/radio.scss';
@import '../../modules/toggle/toggle.scss';
@import '../../modules/like-button/like-button.scss';
@import '../../modules/rate/rate.scss';
@import '../../modules/range-slider/range-slider.scss';