include ../room-card/room-card.pug

mixin pagination({roomCards = [], areCardsHidden = false})
  .pagination
    - 
      let roomCardsClassName = "pagination__room-cards";
      roomCardsClassName += (areCardsHidden) ? " pagination__room-cards_hidden" : "";

    div(class = roomCardsClassName)
      each roomCard in roomCards
        .pagination__room-card
          +room-card(roomCard)

    .pagination__buttons