@import '../../assets/scss/main.scss';
@import '../../assets/fonts/fontawesome/css/all.css';
@import '../../modules/logo/logo.scss';
@import '../../modules/header/header.scss';
@import '../../modules/header-menu/header-menu.scss';
@import '../../modules/button/button.scss';
@import '../../modules/footer/footer.scss';
@import '../../modules/footer-menu/footer-menu.scss';
@import '../../modules/subscription-text-field/subscription-text-field.scss';
@import '../../modules/social-icons/social-icons.scss';
@import '../../modules/footer-mobile/footer-mobile.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: $black;
  background-color: $grey;
}

.pages-layout {
  width: 100%;
  max-width: 1440px;
  min-width: 260px;
  margin: 0 auto;
}