include ../logo/logo.pug
include ../social-icons/social-icons.pug
include ../footer-menu/footer-menu.pug
include ../subscription-text-field/subscription-text-field.pug

mixin footer({companyInfoText, footerMenuColumns, subscriptionTitle, subscriptionText, subscriptionInput, copyrightText, socialIcons})
  .footer
    .footer__main-section
      .footer__company-info-block
        +logo({})
        p.footer__company-info-text= companyInfoText
      +footer-menu(footerMenuColumns)
      .footer__subscription-block
        .footer__subscription-title= subscriptionTitle
        .footer__subscription-text= subscriptionText
        +subscription-text-field(subscriptionInput)
    .footer__separator
    .footer__copyright-section
      .footer__copyright-text= copyrightText
      +social-icons(socialIcons)