include ../text-field/text-field.pug
include ../button/button.pug

mixin card-sign-in({title, registrationBlockText})
  .card-sign-in
    form.card-sign-in__form
      .card-sign-in__title= title
      .card-sign-in__sign-in-data-fields
        +text-field({
          placeholder: "Email",
        })
        .card-sign-in__password-field
          +text-field({
            placeholder: "Пароль",
            isPassword: true,
          })
      .card-sign-in__submit-button
        +button({
          text: "войти",
          href: "",
          type: "submit",
          hasVolume: true,
          hasArrow: true,
        })
      .card-sign-in__registration-block
        .card-sign-in__registration-block-text= registrationBlockText
        .card-sign-in__registration-block-button
          +button({
            text: "создать",
            href: "",
            type: "button",
            hasVolume: true,
            hasBorder: true,
          })