.social-networks
        // creating links for social networks
        mixin links(network)
                a(class = 'social-networks__' + network)
        +links('twitter')
        +links('facebook')
        +links('instagram')