@font-face {
  font-family: 'Quicksand';
  src: url('blocks/fonts/quicksand_bold/Quicksand-Bold.woff') format('woff');
  src: url('blocks/fonts/quicksand_bold/Quicksand-Bold.svg') format('svg');
  src: url('blocks/fonts/quicksand_bold/Quicksand-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}