@font-face {
  font-family: 'Opensans';
  src: url('blocks/fonts/opensans_bold/Opensans-Bold.woff') format('woff');
  src: url('blocks/fonts/opensans_bold/Opensans-Bold.svg') format('svg');
  src: url('blocks/fonts/opensans_bold/Opensans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}