include ../logo/logo.pug
include ../header-menu/header-menu.pug
include ../button/button.pug

mixin header({headerMenu, isSigned, buttonSignIn, buttonRegister, accountLink})
  .header
    .header__wrap
      .header__logo
        +logo({})
      .header__header-menu
        +header-menu(headerMenu)

      -
        let buttonsClasses = ["header__buttons"];
        let accountLinkClasses = ["header__account-link"];
  
        if (isSigned)
          buttonsClasses.push("header__buttons_hidden");
          
        else
          accountLinkClasses.push("header__account-link_hidden");
    
      div(class = buttonsClasses)
        .header__button-sign-in
          +button(buttonSignIn)
        +button(buttonRegister)

      a(class = accountLinkClasses, href = accountLink.href)= accountLink.userName