include ../logo/logo.pug
include ../header-menu/header-menu.pug
include ../button/button.pug

mixin header({isSigned, buttonSignIn, buttonRegister, accountLink})
  .header
    .header__wrap
      .header__logo
        +logo({})
      nav.header__header-menu
        +header-menu({
          items: [
            {name: "О нас", href: "/mock-address/change-me"},
            {name: "Услуги", links: [
              {linkName: "Интересная услуга", linkHref: "/mock-address/change-me"},
              {linkName: "Еще интереснее", linkHref: "/mock-address/change-me"},
              {linkName: "Самая интересная", linkHref: "/mock-address/change-me"}
            ]},
            {name: "Вакансии", href: "/mock-address/change-me"},
            {name: "Новости", href: "/mock-address/change-me"},
            {name: "Соглашения", links: [
              {linkName: "Важно", linkHref: "/mock-address/change-me"},
              {linkName: "Очень важно", linkHref: "/mock-address/change-me"},
              {linkName: "Совсем важно", linkHref: "/mock-address/change-me"}
            ]}
          ],
        })
        
      -
        let buttonsClasses = ["header__buttons"];
        let accountLinkClasses = ["header__account-link"];
  
        if (isSigned)
          buttonsClasses.push("header__buttons_hidden");
          
        else
          accountLinkClasses.push("header__account-link_hidden");
    
      div(class = buttonsClasses)
        .header__button-sign-in
          +button(buttonSignIn)
        +button(buttonRegister)

      a(class = accountLinkClasses, href = accountLink.href)= accountLink.userName