@font-face {
  // connecting  MaterialIcons font
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  src: url('blocks/fonts/material-icons_regular/MaterialIcons-Regular.woff') format('woff');
  src: url('blocks/fonts/material-icons_regular/MaterialIcons-Regular.svg') format('svg');
  src: url('blocks/fonts/material-icons_regular/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  // my added properties
  vertical-align: middle;
}

.md-48 {
  font-size: 3rem;
}

.md-gradient-color {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); //color: orange;
  -webkit-background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -moz-background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

//  including the icon into html <i class="material-icons">face</i>