mixin date-dropdown(options)
  
  .date-dropdown
    .date-dropdown__fields
      .date-dropdown__from-field-wrap
        .date-dropdown__from-field-title= options.fromFieldTitle
        .date-dropdown__from-field-label
          input(class = "date-dropdown__from-field" placeholder= options.placeholder value = "")
          .date-dropdown__from-field-arrow
            i.material-icons expand_more
      .date-dropdown__to-field-wrap
        .date-dropdown__to-field-title= options.toFieldTitle
        .date-dropdown__to-field-label
          input(class = "date-dropdown__to-field" placeholder= options.placeholder value = "")
          .date-dropdown__to-field-arrow
            i.material-icons expand_more
    
    .date-dropdown__calendar