@font-face {
  // connecting  Montserrat-Regular font
  font-family: 'Montserrat';
  src: url('blocks/fonts/montserrat_regular/Montserrat-Regular.woff') format('woff');
  src: url('blocks/fonts/montserrat_regular/Montserrat-Regular.svg') format('svg');
  src: url('blocks/fonts/montserrat_regular/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@mixin montserrat_normal {
  font-family: 'Montserrat';
  font-weight: normal;
  letter-spacing: 0px;
}