//- choose 'gray' for big grey icon
//- or choose 'colored' for small gradiently colored icon with toxin text
mixin logo(color)
    if color == 'grey'
        .logo.page__logo.logo_size_big
            .logo__grey-icon
    else if color == 'colored'
        .logo.logo_size_small
            .logo__colored-icon
            .logo__text-icon