.logo__colored-icon {
    display: inline-block;
    width: 37.85%;
    height: 100%;
    background-image: url(./blocks/images/logo__colored-icon.svg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: cover;
}