.logo__text-icon {
    display: inline-block;
    width: 51.09%;
    height: 35%;
    background-image: url(./blocks/images/logo__text.svg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: cover;
}