//- choose {color: "grey"} for a grey icon
//- or choose {color: "gradient"} for a gradiently colored icon with toxin text
mixin logo(option)
  -var colorClassName = "logo_color_" + option.color
  .logo(class = colorClassName)