extends ../../layouts/ui-layout/ui-layout.pug
include ../../modules/button/button.pug

block variables
  - let pageColor = "lightgrey";

block meta
  meta(name="keywords" value="uikit, fonts, colors, blocks")
  meta(name="description" value="this page contains links to the pages of this project")
  
block title
  title entry page

block links
  link(href="./index.scss" rel="stylesheet")

block content
  .index
    .index__wrap
      h1.index__title "FSD Frontend 2nd step education" project
      h2.index__list-title ui kit
      .index__buttons
        -
          let buttons;
          buttons = [
            {type: "button", text: "colors & type", hasVolume: "true", isInHeader: "", href: "../colors-n-type/colors-n-type.pug", hasArrow: "true"},
            {type: "button", text: "form elements", hasVolume: "true", isInHeader: "", href: "../form-elements/form-elements.pug", hasArrow: "true"},
            {type: "button", text: "cards", hasVolume: "true", isInHeader: "", href: "../cards/cards.pug", hasArrow: "true"},
            {type: "button", text: "headers & footers", hasVolume: "true", isInHeader: "", href: "../headers-n-footers/headers-n-footers.pug", hasArrow: "true"}
          ]
        - for (let button of buttons)
          .index__button
            +button(button)
              
      h2.index__list-title pages
      .index__buttons
        -
          buttons = [
            {type: "button", text: "landing page", hasVolume: "true", isInHeader: "", href: "../landing-page/landing-page.pug", hasArrow: "true"},
            {type: "button", text: "search room", hasVolume: "true", isInHeader: "", href: "../search-room/search-room.pug", hasArrow: "true"},
            {type: "button", text: "room details", hasVolume: "true", isInHeader: "", href: "../room-details/room-details.pug", hasArrow: "true"},
            {type: "button", text: "registration", hasVolume: "true", isInHeader: "", href: "../registration/registration.pug", hasArrow: "true"},
            {type: "button", text: "sign in", hasVolume: "true", isInHeader: "", href: "../sign-in/sign-in.pug", hasArrow: "true"}
          ]
        - for (let button of buttons)
          .index__button
            +button(button)