.radio {
  max-width: 260px;
}

.radio__title {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.9375rem;
}

.radio__wrap {
  display: flex;
  margin-top: 0.85rem;
}

.radio__label {
  display: flex;
  cursor: pointer;
}

.radio__input {
  position: absolute;
  margin-left: 0.22rem;
  margin-top: 0.47rem;
  opacity: 0;

  &:checked+.radio__text:after {
    display: block;
  }

  &:checked+.radio__text:before {
    border-color: #BC9CFF;
  }
}

.radio__text {
  position: relative;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0 1.25rem 0 1.87rem;

  &:before {
    display: block;
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: 0rem;
    top: 0.26rem;
    width: 1.25rem;
    height: 1.25rem;
    border: 0.0625rem solid rgba(31, 32, 65, 0.25);
    border-radius: 0.625rem;
    background-color: #FFFFFF;
  }

  &:after {
    display: none;
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: 0.25rem;
    top: 0.51rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.375rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
}