@import '../../assets/js/plagins/lightSlider/lightslider.css';

.room-card {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba($black, $aFourth);

  &__slider {
    height: 154px;
  }

  &__caption {
    padding: 20px 17px 20px 20px;
    background-color: $white;
  }

  &__rooom-info {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
  }

  &__room-number {
    padding-right: 5px;
    font-family: Quicksand;
    font-size: 1.1875rem;
    font-weight: bold;

    &::first-letter {
      font-size: 14px;
    }
  }

  &__room-type {
    flex-grow: 1;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 19px;
    text-transform: uppercase;
    color: $purple;
  }

  &__room-price {
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 19px;
    color: rgba($black, $aSecond);
  }

  &__measure-period {
    margin-left: 4px;
    font-size: 0.75rem;
    line-height: 19px;
    color: rgba($black, $aSecond);
  }

  &__room-reviews-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 3px 0 0;
    border-top: 1px solid rgba($black, $aSixth);
  }

  &__reviews {
    display: flex;
    font-size: 0.875rem;
    color: rgba($black, $aSecond);
  }

  &__reviews-number {
    font-weight: bold;
    margin-right: 4px;
  }

  &__measure-unit {

    &::first-letter {
      text-transform: uppercase;
    }
  }

  & .lSSlideOuter {
    position: relative;

    &:hover {

      & .lSPrev,
      & .lSNext {
        display: flex;
      }
    }
  }

  & .lSAction>a {
    display: none;
    justify-content: center;
    align-items: center;
    width: 42px;
    top: 0;
    height: 100%;
    margin-top: 0;
    text-align: center;
    background: $blackGradient;
    opacity: 1;
    cursor: pointer;

    &:before {
      content: '\e314';
      font-family: 'Material Icons';
      font-size: 24px;
      color: $white;
    }
  }

  & .lSAction>.lSPrev {
    left: 0;
  }

  & .lSAction>.lSNext {
    right: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  & .lSPager.lSpg {
    position: absolute;
    right: 13px;
    bottom: 10px;

    &>li {
      padding: 0 1.7px;

      & a {
        border: 1px solid $white;
        background-color: transparent;
        filter: drop-shadow(0px 5px 5px rgba($black, $aSeventh));
      }

      &:hover a,
      &.active a {
        background-color: $white;
      }
    }
  }
}