.header-menu {

  &__button {
    display: none;
    padding: 0 10px;
    color: $dark-shade-50;
    cursor: pointer;

    &:hover {
      color: $dark-shade-100;
    }

    @media (max-width: 940px) {
      display: block;

      &_hidden {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    font-family: $mainFont;
    font-size: 0.875rem;
    color: $dark-shade-50;

    @media (max-width: 940px) {
      width: 40%;
      flex-direction: column;
      position: absolute;
      left: 20px;
      top: 20px;
      z-index: 100;

      &_hidden {
        display: none;
      }
    }

    @media (max-width: 600px) {
      width: 85%;
    }
  }

  &__item {

    &_active {
      font-weight: bold;
    }

    &:hover {
      color: $dark-shade-75;
      cursor: pointer;
    }

    @media (max-width: 940px) {
      width: 100%;
      margin-top: 5px;
      border-radius: 34px;
      text-align: center;
      background-color: $white;
      box-shadow: 0 0 20px 0px rgba($black, 0.15);
    }

    &_dropdown {
      position: relative;
      z-index: 2;
    }
  }

  &__link {
    display: block;
    padding: 0 10px;

    @media (max-width: 940px) {
      padding: 20px 40px;
    }
  }

  &__item-title {
    padding: 0 11px;

    &_hidden {
      display: none;
    }

    &:after {
      display: inline-block;
      vertical-align: middle;
      content: '\e313';
      font-family: 'Material Icons';
      font-size: 1.5rem;
    }

    @media (max-width: 940px) {
      padding: 20px 40px 15px;
    }
  }

  &__dropdown {
    position: absolute;
    display: block;

    &_hidden {
      display: none;
    }

    @media (max-width: 940px) {
      position: relative;
    }
  }

  &__dropdown-item {
    text-align: center;
    margin-top: 5px;
    border-radius: 20px;
    background-color: $white;
    color: $dark-shade-50;
    box-shadow: 0 0 20px 0px rgba($black, 0.15);

    &:hover {
      color: $dark-shade-75;
    }

    @media (max-width: 940px) {
      margin: 5px 20px;
    }
  }

  &__dropdown-link {
    display: block;
    padding: 10px 10px;

    @media (max-width: 940px) {
      padding: 20px 0px;
    }
  }
}