.pagination {
  //max-width: 15.06rem;

  &__room-cards {

    &_hidden {
      display: none;
    }
  }

  &__buttons {
    max-width: 15.06rem;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__button-page a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    font-size: 0.75rem;
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
    ;
  }

  &__button-ellipsis a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    font-size: 0.75rem;
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
    ;
  }

  &__button-active a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-size: 0.75rem;
    font-weight: bold;
    color: #FFF;
  }

  &__button-prev a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    color: #FFF;
  }

  &__button-next a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    color: #FFF;
  }

  &__button-nav {
    margin-top: 0.7rem;
    text-align: center;
    font-size: 0.875rem;
    color: rgba(31, 32, 65, 0.75);
  }
}