.review {
  max-width: 711px;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: rgba(31, 32, 65, 0.75);

  &__user-info {
    position: relative;
  }

  &__user-photo {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border: 0.125rem solid #FFFFFF;
    border-radius: 1.5rem;
    box-shadow: 0 0.625rem 1.25rem rgba(31, 32, 65, 0.1);
    background-origin: border-box;
  }

  &__user-name {
    padding-left: 3.625rem;
    font-weight: bold;
  }

  &__time-passed {
    padding-left: 3.625rem;
  }

  &__user-text-wrap {
    display: flex;
    align-items: flex-start;
    padding-top: 0.6rem;
  }

  &__like-button-wrap {
    display: flex;
    padding: 0.1rem 0.25rem 0;
  }

  &__user-text {
    padding-left: 0.625rem;
  }
}