@font-face {
  // connecting  Montserrat-Bold font
  font-family: 'Montserrat';
  src: url('blocks/fonts/montserrat_bold/Montserrat-Bold.woff') format('woff');
  src: url('blocks/fonts/montserrat_bold/Montserrat-Bold.svg') format('svg');
  src: url('blocks/fonts/montserrat_bold/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}