.button {
  display: block;
  width: 100%;
  background-color: none;
  cursor: pointer;

  &_has-volume {
    //width: auto;
    line-height: 15px;
    padding: 12px 17.2px 12.8px;
    border-radius: 22px;
    border: 2px solid transparent;
    background-origin: border-box;
    background-image: $purpleGradient;

    &:hover {
      background-image: $purpleGradientTransparent;
      //opacity: 0.5;
    }
  }

  &_has-border {
    //max-width: 99px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    background-clip: padding-box, border-box;
    background-image: $whiteGradient,
      $purpleGradient;

    &:hover {
      background-image: $whiteGradient,
        $purpleGradientTransparent; //change-color(#8BA4F9, $alpha: 0.50) 100%);
    }
  }

  &_in-header {
    //width: auto;
    max-width: none;
    border-radius: 17px;
    padding: 7px 18px 8px;
  }

  &_has-arrow {
    position: relative;
    width: 100%;
    padding-left: 44px;
    padding-right: 44px;
  }

  &__title {
    display: block;
    font-family: $mainFont;
    font-size: 0.75rem;
    font-weight: bold;
    text-decoration-line: none;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &_color_white {
      color: $white;
    }

    &_color_purple {
      color: $purple;
    }

    &_color_grey {
      color: rgba($black, $aSecond);
    }
  }

  &__arrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: $white;
  }
}