mixin subscription-text-field(options)

  .subscription-text-field

    form(action= options.action name = "subscription")

      if options.title
        .subscription-text-field__title= options.title
      
      .subscription-text-field__wrap
        input.subscription-text-field__field(
          type= options.type
          name= options.name
          placeholder= options.placeholder
        )
        label.subscription-text-field__button-label
          input.subscription-text-field__button(type = "submit" value = "")
          .subscription-text-field__button-arrow
            i.material-icons.md-gradient-color arrow_forward