include ../checkbox/checkbox.pug

mixin expandable-checkbox-list(options)

  .expandable-checkbox-list

    .expandable-checkbox-list__button(tabindex = 0)
      .expandable-checkbox-list__list-title= options.listTitle
      .expandable-checkbox-list__arrow
        i.material-icons expand_more

    .expandable-checkbox-list__checkbox
      +checkbox(options)