.expandable-checkbox-list {
  max-width: 266px;

  &__button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &__list-title {
    text-transform: uppercase;
    font-size: 0.75rem; // 12px
    font-weight: bold;
    color: #1F2041;
    line-height: 2.75rem;
  }

  &__arrow {
    width: 2.6rem;
    text-align: center;
    line-height: 2.63rem;
    color: rgba(31, 32, 65, 0.5);
  }

  &__checkbox {
    display: none;

    &_expanded {
      display: block;
      position: absolute;
      width: 16.625rem;
      background-color: #FFFFFF;
    }
  }

}