.checkbox {
  max-width: 266px;
}

.checkbox__title {
  text-transform: uppercase;
  font-size: 0.75rem; // 12px
  font-weight: bold;
  color: #1F2041;
  line-height: .9375rem;
  padding: 0.12rem 0 0.25rem;
}

.checkbox__label {
  display: block;
  margin-top: 0.73rem; //0.73rem; //0.625rem;
  cursor: pointer;
  //border: 1px solid orange;
}

.checkbox__input {
  position: absolute;
  //z-index: -1;
  //opacity: 0;
  margin: 0.3rem 0 0.3rem;

  &:checked+.checkbox__picture {
    border: 1px solid #BC9CFF;

    &:before,
    &:after {
      display: block;
    }
  }
}

.checkbox__picture {
  position: absolute;
  //display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 0.25rem;
  background-color: #FFF;

  &:before {
    content: '';
    display: none;
    position: absolute;
    width: 0.375rem;
    height: 0.5rem;
    transform-origin: left top;
    transform: translate(0.6rem, 0.20rem) rotate(45deg);
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }

  &:after {
    display: none;
    content: '';
    position: absolute;
    width: 0.25rem;
    height: 0.375rem;
    transform-origin: left top;
    transform: translate(0.6rem, 0.20rem) rotate(45deg);
    background-color: #FFF;
  }
}

.checkbox__text {
  //position: relative;
  //display: inline-block;
  padding-top: 0.07rem;
  padding-left: 1.86rem;
  font-size: 0.875rem;
  color: rgba(31, 32, 65, 0.5);

  // описать применение этого модификатора
  &_color-rich {
    font-weight: bold;
    color: rgba(31, 32, 65, 0.75);
  }
}

.checkbox__additional-text {
  padding-top: 0.36rem;
  padding-left: 1.875rem;
  //padding-bottom: 0.3rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: rgba(31, 32, 65, 0.5);

}