mixin checkbox(options)

  -
    let textClassName = "checkbox__text";
    textClassName += (options.isRich) ? " checkbox__text_color-rich": "";
  
  .checkbox
    .checkbox__title= options.title
    
    - for (let i = 0; i < options.text.length; i++)
      label.checkbox__label
        input.checkbox__input(type="checkbox")
        .checkbox__picture
        div(class = textClassName)!= options.text[i]
        
        - if (options.isRich)
          .checkbox__additional-text!= options.additionalText[i]