@import '../../assets/scss/main.scss';
@import '../../modules/logo/logo.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: $black;
  background-color: $grey;
}

.ui-layout {
  max-width: 1440px;
  min-width: 260px;
  width: 100%;
  margin: 0 auto;

  &_color_lightgrey {
    background-color: $lightgrey;
  }

  &_color_white {
    background-color: $white;
  }

  /*
  &::before {
    // empty element to avoid dropping up the form-elements__logo margin (follows below)
    content: "";
    overflow: hidden; // обязательно!
    display: block;
  }
  */
  &__logo {
    padding-left: 1.875rem;
    padding-top: 1.875rem;
  }
}