include ../../modules/logo/logo.pug
block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    block meta
    block title
    link(href="../../layouts/ui-layout/ui-layout.scss" rel="stylesheet")
    block links
    block scripts

  body
    -
      let uiLayoutClassName = "ui-layout";
      uiLayoutClassName += (pageColor) ? " ui-layout_color_grey" : "";
    
    div(class = uiLayoutClassName)
      .ui-layout__logo
        +logo({
          isForUI: true
          })
      block content