- let facilities = ["спальни", "кровати", "ванные комнаты"];
- let guests = ["взрослые", "дети", "младенцы"];

mixin dropdown(drop)
  - 
    let dropdownClassName = "dropdown";
    dropdownClassName += drop.isWide ? " dropdown_width_large" : "";
    
  //id доделать и  объединить атрибуты в ну запись
  div(id = drop.content, class = dropdownClassName)
    .dropdown__title-wrap
      .dropdown__title= drop.title
      if drop.state
        .dropdown__state-field= drop.state
    //-button
    div.dropdown__button(tabindex = 0)
      .dropdown__button-text= drop.buttonText
      .dropdown__button-arrow
        i.material-icons expand_more
      //-list
      ul.dropdown__list 
        - let dropdownItems;
        case drop.content
          when "guests"
            - dropdownItems = guests;
          when "facilities"
            - dropdownItems = facilities;
        - for (let item of dropdownItems) {
          li.dropdown__item= item
            .dropdown__item-counter
              .dropdown__item-minus-button.dropdown__item-minus-button_transparent
              .dropdown__item-value= 0
              .dropdown__item-plus-button +
        - }
        //- apply section
        if drop.hasApplyButton
          .dropdown__apply-section
            button.dropdown__apply-button применить
            button.dropdown__clean-button очистить