.dropdown {
  max-width: 266px;
  width: 16.6rem; //266px

  &_width_large {
    max-width: 320px;
    width: 20rem;
  }

  &_width_normal {}

  &__title-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0.1875rem 0 0.300rem; //0.375rem;
  }

  &__title {
    text-transform: uppercase;
    font-size: 0.75rem; // 12px
    font-weight: bold;
    color: #1F2041;
    line-height: 0.9375rem; // 15px
    //padding: 0.1875rem 0 0.300rem; //0.375rem;
  }

  &__state-field {
    text-transform: uppercase;
    font-size: 0.75rem; //0.75
    color: rgba(31, 32, 65, 0.5);
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative; // for dropdown__list
    font-family: Montserrat;
    font-size: 0.875rem; //0.875rem; //14px
    border: solid rgba(31, 32, 65, 0.25) 1px;
    border-radius: 0.25rem;
    color: rgba(31, 32, 65, 0.75);


    &:hover,
    &:focus {
      border-color: rgba(31, 32, 65, 0.5);
      cursor: pointer;

      .dropdown__button-arrow {
        color: rgba(31, 32, 65, 0.75);
      }
    }

    &_expanded {
      border-radius: 0.25rem 0.25rem 0 0;
      border-bottom: none;

      .dropdown__list {
        display: block;
        z-index: 1;
        cursor: default;
      }
    }
  }

  &__button-text {
    padding-left: 0.9375rem;
    line-height: 2.63rem; //2.6
    width: 10.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__button-arrow {
    width: 2.6rem;
    text-align: center;
    line-height: 2.63rem;
    color: rgba(31, 32, 65, 0.5);
  }

  &__list {
    display: none;
    width: 100.68%;
    position: absolute;
    left: -0.3%;
    top: 2.57rem; //2.63
    border: solid rgba(31, 32, 65, 0.5) 1px; // 2.6
    border-radius: 0 0 0.25rem 0.25rem;
    background-color: #FFFFFF;
    padding-left: 0.85rem; //0.9375rem;
    padding-right: 0.34rem; //0.4375rem;
    padding-bottom: 0.5rem;
  }

  &__item {
    padding-top: 0.43rem; //0.4375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
    color: #1F2041;
  }

  &__item-counter {
    width: 5.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border: 1px solid green;
  }

  &__item-minus-button {
    position: relative;
    width: 1.83rem; //1.875rem;
    height: 1.83rem; //1.875rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.915rem; //0.9375rem;
    cursor: pointer;

    &:before {
      content: '';
      background-color: rgba(31, 32, 65, 0.5);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
      width: 0.29375rem;
      height: 0.06875rem;
    }

    &_transparent {
      opacity: 0.38;
    }
  }

  &__item-value {
    //font-size: 0.75rem;
    //line-height: 1.875rem;
  }

  &__item-plus-button {
    //position: relative;
    width: 1.83rem;
    height: 1.83rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.915rem;
    font-size: 0.875rem;
    font-family: 'Quicksand';
    color: rgba(31, 32, 65, 0.5);
    //text-align: center;
    //line-height: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__apply-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 1.1875rem 0 0.3125rem;
    //border: 1px solid red;
  }

  &__clean-button {
    display: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    color: rgba(31, 32, 65, 0.5);
    background-color: #FFFFFF;
    cursor: pointer;

    &_visible {
      display: block;
    }
  }

  &__apply-button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    color: #BC9CFF;
    background-color: #FFFFFF;
    cursor: pointer;
  }
}

// isolated styles for dropdown expantion 