.cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 73px 0 140px;

  &__column {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    width: 100%;

    &:last-child {
      max-width: 322px;
    }

    @media (max-width: 1135px) {
      padding: 0 20px 40px;
    }
  }

  &__card-registration {
    margin-top: 42px;
  }

  &__card-sign-in {
    margin-top: 40px;
  }

  &__date-dropdown {
    margin-bottom: 409px; // for 5 rows of days 369px;
  }

  &__room-card {
    width: 100%;
    max-width: 270px;
    margin-top: 39px;
  }
}

@import '../../assets/scss/main.scss';
@import '../../modules/card-filter/card-filter.scss';
@import '../../modules/button/button.scss';
@import '../../modules/card-registration/card-registration.scss';
@import '../../modules/card-booking/card-booking.scss';
@import '../../modules/card-sign-in/card-sign-in.scss';
@import '../../modules/date-dropdown/date-dropdown.scss';
@import '../../modules/room-card/room-card.scss';
@import '../../modules/rate/rate.scss';