<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title UI Kit
        link(href='C:/Users/Andrew/Desktop/normalize.css')
        link(href="./ui_kit.css" rel="stylesheet")
        link(href='../components/logo/img-logo/_logo-img.css' rel='stylesheet')
    body.ui_kit
        //- pixel-perfect helper
        //-img(src='FSD_2nd_task.png' style='opacity: 0.4; position: absolute; z-index: 1')
        // making 4 boxes
        // colors & type box
        .ui_kit-box
            //- including logo
            .logo_position
                include ../components/logo/img-logo/_logo-img.pug
            //- using descriptions and values of colors from map to make colors' list via mixin
            .colors_list
                - 
                    var colors_array = [
                        {index: 1, descr: 'Dark Shade 100%', val: '#1F2041'},
                        {index: 2, descr: 'Dark Shade 75%', val: '#1F2041'},
                        {index: 3, descr: 'Dark Shade 50%', val: '#1F2041'},
                        {index: 4, descr: 'Dark Shade 25%', val: '#1F2041'},
                        {index: 5, descr: 'Dark Shade 5%', val: '#1F2041'},
                        {index: 6, descr: 'Purple', val: '#BC9CFF'},
                        {index: 7, descr: 'Green', val: '#6FCF97'}
                    ];
                mixin color_item(color)
                    div.colors_list_box_n_descr_wrap
                        div(class="colors_list_box" class="colors_list_box-color_"+color.index)
                        div.colors_list_color_description
                            //- read about different local interpolation methods
                            span #{color.descr} 
                                br 
                            span= color.val
                for color in colors_array
                    +color_item(color)
            //- creating types' list
            .types_list
                -   
                    var types_array = [
                        {index: H1,  page_elem: 'H1', page_elem_descr: 'This one is the sub-section or widget title'},
                        {index: H2,  page_elem: 'H2', page_elem_descr: 'Next one is the item title inside widgets'},
                        {index: H3,  page_elem: 'H3', page_elem_descr: 'This is a label or CTA text'},
                        {index: Body,  page_elem: 'Body', page_elem_descr: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'}
                    ];
                mixin type_item(type_)
                    .types_list-item  
                        span.types_list-tags_column(class='types_list-tags_column-font_style_'+type_.page_elem) #{type_.page_elem}
                        span.types_list-descr_column(class='types_list-descr_column-font_style_'+type_.page_elem) #{type_.page_elem_descr}
                for type_ in types_array
                    +type_item(type_)