mixin room-info({title, features})
  .room-info

    - if (title)
      h2.room-info__title= title
    
    - for (let feature of features)
      .room-info__feature
        .room-info__feature-img
          i.material-icons.md-48.md-gradient-color= feature.img
        .room-info__feature-description
          .room-info__feature-title= feature.title
          .room-info__feature-text= feature.text