mixin room-info(options)
  .room-info

    - if (options.title)
      .room-info__title= options.title
    
    - for (let feature of options.features)
      .room-info__feature
        .room-info__feature-img
          i.material-icons.md-48.md-gradient-color= feature.img
        .room-info__feature-description
          .room-info__feature-title= feature.title
          .room-info__feature-text= feature.text