.room-info__title {
  font-weight: bold;
  font-size: 1.1875rem;
  line-height: 1.4375rem;
}

.room-info__feature {
  display: flex;
  align-items: center;
  padding: 1.25rem 0 1.25rem;
  border-bottom: 0.0625rem solid rgba($black, $aSixth);
}

.room-info__feature-img {
  margin-right: 0.625rem;
}

.room-info__feature-description {
  color: rgba($black, $aFirst);
}

.room-info__feature-title {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.room-info__feature-text {
  font-size: 0.875rem;
  line-height: 1.5rem;
}